extends ./layouts/index

block contenido     
    main.container.mt-5    
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis a lectus in elementum. Etiam eu arcu eget tellus posuere luctus. Phasellus varius consectetur egestas. Praesent cursus consectetur libero vitae vestibulum. Suspendisse mollis a tellus vitae rhoncus. Nunc mi purus, interdum non fringilla id, euismod ac arcu. Mauris ipsum diam, finibus in ipsum eget, scelerisque eleifend eros. 

                p at neque eget leo ornare mattis. Duis fermentum, mi a faucibus auctor, ipsum purus efficitur lacus, ut hendrerit dolor massa a urna. Morbi sagittis tortor lectus, vitae venenatis erat malesuada pellentesque. Nam consectetur tellus sit amet tempus volutpat. Nulla in sollicitudin dui. Integer rhoncus convallis cursus. 

                p Proin ornare quam non arcu aliquet finibus ut ac arcu. Quisque ullamcorper metus ut vulputate pellentesque. Duis ullamcorper ex quis augue tempus, ac mattis diam tempus. Maecenas consequat et lectus at dapibus. Curabitur et nibh et orci luctus congue. Suspendisse sit amet sodales tellus. Duis suscipit blandit felis, sit amet sollicitudin quam rutrum nec. Aliquam fermentum blandit augue vitae elementum.

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Curabitur et nibh et orci luctus congue. Suspendisse sit amet sodales tellus. Duis suscipit blandit felis, sit amet sollicitudin quam rutrum nec.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Curabitur et nibh et orci luctus congue. Suspendisse sit amet sodales tellus. Duis suscipit blandit felis, sit amet sollicitudin quam rutrum nec.
                    
                .col-md-4 
                    img(src="img/icono_precio.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Curabitur et nibh et orci luctus congue. Suspendisse sit amet sodales tellus. Duis suscipit blandit felis, sit amet sollicitudin quam rutrum nec.